*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.center{
    max-width: 400px;
    margin: 10px auto;
    height: 90%;
    background-color: rgb(227, 227, 227);
}
.white{
    width: 300px;
    height: 300px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 35px;
    font-weight: bolder;
}
h1{
    font-size: 13px;
    text-transform: capitalize;
    color: navy;
}
.flex{
    display: flex;
}
.flex img{
    width: 30px;
    border-radius: 50px;
    height: 30px;
    outline: 2px solid dodgerblue;
    outline-offset: 3px;
}
.text{
    margin: 5px 15px;
    font-size: 10px;
    text-transform: capitalize;
    
}
h4{
    color: navy;
}
label{
    text-transform: capitalize;
    color: navy;
    font-size: 10px;
}
.round{
    width: 35px;
    height: 20px;
    border: 1px solid;
    border-radius: 10px;
}
.color{
    width: 15px;
    height: 15px;
    background-color: rgb(6, 6, 58);
    border-radius: 50%;
    margin: 2px 2px;
}
.justify a{
    text-decoration: none;
    font-size: 11px;
    color: white;
    background-color: rgb(17, 17, 66);
    padding: 4px;
    margin: 0px 60px;
    border-radius: 5px;
    text-transform: capitalize;
}
.justify{
    display: flex;
}
a{
    border: none;
    padding: 4px;
    font-size: 10px;
    background-color: none;
    text-transform: capitalize;
}

.color:hover{
    float: right;
    
    cursor: pointer;
}
input[type=password]:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid navy;
}
.eye{
    width: 14px;
    
}
.gif{
    width: 20px;
}
